body{
  background-color: rgb(200, 223, 223);
  opacity: 0.8;
}
/* header Part */
.navigation-list{
  display: flex;
  margin: 8px;
  justify-content: center;
}
li{
  list-style-type: none;
  margin: 4px;
  padding: 4px;
}
.main-nav{
  background-color: rgb(245, 206, 158);
  justify-content: end;
}
a{
  text-decoration: none;
}

a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(13, 13, 6);
}
a:active{
  background-color: rgb(226, 43, 43);
}


/* Introduction Part */
.intro{
  background-color: blueviolet;
  text-align: center;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 3px #ababab;
  border-style: groove;
  border-width: 5px;
  margin-top: 15px;

}

.main-div{
  display: flex;
  align-items: center;

}
.st-1{
background-color: blueviolet;
margin-bottom: 5px;
text-align: center;

}
.st-2{
  background-color: blueviolet;
  margin-bottom: 5px;
text-align: center;
  }
  .st-3{
    background-color: blueviolet;
    margin-bottom: 5px;
text-align: center;
    }
.parent{
  display: flex; 
}
@media (max-width: 360px){
  .navigation-list{
    flex-direction: column;
}