body{
  background-color: rgb(200, 223, 223);
  opacity: 0.8;
}
p.para{
  color: rgb(33, 25, 97);
}

h4,h3{
  background-color: rgb(171, 212, 212);
}
/* This is a CSS comments*/
h5{
  color: brown;
  border-style: groove;
  border-width: 5px;
}
h5{
  border-left: 5px;
  color: rgb(171, 19, 44);
}